.portfolio_link {
  width: 100%;
  margin: 0.5rem auto 1.5rem;
}

.portfolio_link_list {
  list-style-type: none;
  display: flex;
  font-size: 1rem;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
}
.portfolio_link_list a {
  color: #000;
}
.portfolio_link_list img {
  height: 4.5rem;
  margin-bottom: 0.5rem;
}
.portfolio_link_list li:first-of-type img {
  height: 7.15rem;
  margin-bottom: -1rem;
}
