.coverLetter li {
  list-style-type: none;
}

.coverLetter h6 {
  font-size: 1.4375rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.coverLetter p {
  font-size: 1.25rem;
  font-weight: 300;
  text-align: justify;
  white-space: pre-wrap;
}
.coverLetter li:not(:last-of-type) {
  margin-bottom: 3rem;
}
